.overflow-hidden 
  overflow: hidden
  
button
  background-color: transparent
  border: none
  cursor: pointer
  outline: none
  padding: 0
  appearance: none

.inline-block
  display: inline-block

.title_block
  > .title
    +text-title(40px)
    position: relative
    padding: 1.5rem 2rem
    -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1)
    box-shadow: 0 2px 14px rgba(0, 0, 0, .1)
    background-color: rgb(255, 255, 255,0.7)

    +sp-view
      +text-title(32px)

    &::before,&::after
      position: absolute
      left: 0
      width: 100%
      height: 4px
      content: ''
      background-image: linear-gradient(135deg, #000875 0%, #17aaee 37%,  #17aaee 63%, #000875 100%)

    &::before
      top: 0
    &::after
      bottom: 0

table
  border-collapse: separate
  border-spacing: 5px

table th,table td
  border-radius: 5px
  text-align: center
  padding: 10px 0

table th
  background-color: var(--main)
  color: white
  border: solid 1px var(--main)
  width: 50%

table td
  background-color: var(--skyBlue)
  border: solid 1px var(--skyBlue)
  width: 50%

ol.original_list
  counter-reset: list
  list-style-type: none
  font: 14px/1.6 'arial narrow', sans-serif
  padding: 0

ol.original_list li
  position: relative
  color: #fff
  color: var(--main)
  padding: 0 0 0 30px
  margin: 7px 0 7px 0px
  font-weight: bold
  font-size: 14px
  line-height: 30px
  // background: var(--main)
  background: white
  border-radius: 20px
  -webkit-transition: 0.3s
  -moz-transition: 0.3s
  -o-transition: 0.3s
  -ms-transition: 0.3s
  transition: 0.3s

ol.original_list li:before
  counter-increment: list
  content: ""
  display: block
  position: absolute
  left: 10px
  height: 10px
  width: 10px
  border-radius: 50%
  // background: #fff
  background: var(--main)
  top: 50%
  -moz-transform: translateY(-50%)
  -webkit-transform: translateY(-50%)
  -o-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

ol.original_list li:hover
  background: #8393ca


ol.special_list
  counter-reset: list
  list-style-type: none
  font: 14px/1.6 'arial narrow', sans-serif
  padding: 0

ol.special_list li
  position: relative
  color: var(--main)
  padding: 0 0 0 30px
  margin: 7px 0 7px 0px
  font-weight: bold
  font-size: 14px
  line-height: 30px
  // background: var(--sub)
  border-radius: 20px
  -webkit-transition: 0.3s
  -moz-transition: 0.3s
  -o-transition: 0.3s
  -ms-transition: 0.3s
  transition: 0.3s

ol.special_list li:before
  counter-increment: list
  content: ""
  display: block
  position: absolute
  left: 10px
  height: 10px
  width: 10px
  border-radius: 50%
  background: var(--main)
  top: 50%
  -moz-transform: translateY(-50%)
  -webkit-transform: translateY(-50%)
  -o-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

// ol.special_list li:hover
//   background: #8393ca


.title__block
  > .title
    +text-title()
    margin-top: 0px
    margin-bottom: 4px

  > .subtitle
    +text-subtitle(21px)
    line-height: 100%

  +sp-view
    > .title
      font-size: 48px

    > .subtitle
      font-size: 15px

=under-line($width: 100%)
  &:after
    content: ''
    display: block
    margin-top: 8px
    width: $width
    border-bottom: 1px solid var(--color-red-200)

